html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}

@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}

.header {
	width: 100%;
	display: flex;
}

.logo {
	width: 30%;
	background: #a4c639;
	padding: 20px 0;
}

.logo h1 {
	color: #fff;
	font-family: ReklameRegular;
	font-size: 41px;
	text-align: center;
	cursor: pointer;
}

.nav-header {
	width: 70%;
	background: #3a4246;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav-header__list {
	display: flex;
	margin-left: 20px;
}

.nav-header__list :nth-child(2) {
	background: url("../img/header_img/icon_hd2.png") no-repeat;
}

.nav-header__list :nth-child(3) {
	background: url("../img/header_img/icon_hd3.png") no-repeat;
}

.nav-header__list :nth-child(4) {
	background: url("../img/header_img/icon_hd4.png") no-repeat left center;
}

.nav-header__item {
	background: url("../img/header_img/icon_hd1.png") no-repeat;
	padding: 0 20px;
	margin: 0 10px;
}

.nav-header__item a {
	color: #fff;
	font-family: RobotoBold;
	font-size: 19px;
}

.nav-header__serch {
	font-size: 19px;
	font-family: RobotoLightItalic;
	background: #50595e;
	border: none;
	color: #8a8f92;
	border-radius: 15px;
	padding: 5px 10px;
}

.nav-header__btn {
	background: #ff5722;
	color: #fff;
	padding: 5px 10px;
	font-size: 19px;
	border: none;
	text-transform: uppercase;
	border-radius: 7px;
}

.aside {
	width: 30%;
	float: left;
	padding: 35px 0;
}

.aside__headline {
	margin-bottom: 50px;
	margin-left: 20px;
}

.aside__headline h2 {
	color: #485254;
	font-size: 18px;
	font-family: RobotoBold;
}

.nav-aside__list {
	margin-bottom: 50px;
}

.nav-aside__list :nth-child(1) :before {
	background: url("../img/aside_img/asid-icon.png") no-repeat left center;
}

.nav-aside__list :nth-child(2) :before {
	background: url("../img/aside_img/asid-icon1.png") no-repeat left center;
}

.nav-aside__list :nth-child(3) :before {
	background: url("../img/aside_img/asid-icon2.png") no-repeat left center;
}

.nav-aside__list :nth-child(4) :before {
	background: url("../img/aside_img/asid-icon3.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(1) :before {
	background: url("../img/aside_img/asid-icon1-1.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(2) :before {
	background: url("../img/aside_img/asid-icon1-2.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(3) :before {
	background: url("../img/aside_img/asid-icon1-3.png") no-repeat left center;
}

.nav-aside__item {
	cursor: pointer;
	padding: 20px 0 20px 20px;
}

.nav-aside__item:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
}

.nav-aside__item:hover {
	background: #cfd8dc;
}

.nav-aside__item a {
	color: #485254;
	font-family: SourceSemibold;
	padding-left: 40px;
}

.user-profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
}

.user-profile__avatar {
	background: url("../img/aside_img/profile-img.png") no-repeat left center;
	background-size: cover;
	width: 55px;
	height: 55px;
	cursor: pointer;
}

.user-profile__name {
	color: #485254;
	font-size: 22px;
	font-family: SourceSemibold;
	cursor: pointer;
}

.user-profile__menu {
	background: url("../img/aside_img/profile-icon.png") no-repeat left center;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.main {
	width: 70%;
	float: right;
	padding-left: 20px;
}

.main-headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 57px 0 46px 0;
	font-family: RobotoBold;
}

.main-headline h2 {
	font-size: 20px;
	color: #485254;
}

.main-headline span {
	font-size: 19px;
	color: #959899;
}

.wrapper-block {
	width: 100%;
}

.block-main {
	float: left;
	width: 23%;
	margin: 0 1%;
}

.block-main__img {
	background: url("../img/main_img/shot-example.png") no-repeat;
	width: 100%;
	min-height: 150px;
}

.blok-main__text {
	font-family: RobotoRegular;
	font-size: 16px;
	position: relative;
	float: left;
}

.block-main__icons {
	background: url("../img/main_img/icon_min.png") no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
	margin-top: 2px;
}

.block-main__controls_top {
	overflow: hidden;
	margin: 16px 0 10px 0;
}

.block-main__controls {
	overflow: hidden;
}

.block-main__button {
	float: left;
	font-family: RobotoRegular;
	font-size: 13px;
	background: #64b5f6;
	border: none;
	color: #fff;
	padding: 5px 20px;
	cursor: pointer;
}

.block-main__button:hover {
	background: #ff5722;
}

.block-main__date {
	float: right;
	font-size: 15px;
	font-family: RobotoRegular;
	color: #8f9191;
	padding-top: 5px;
}

body {
	font-family: fon-rb;
	font-size: 16px;
	background: #f5f5f5;
}


.aside {
	width: 30%;
	float: left;
	padding: 35px 0;
}

.aside__headline {
	margin-bottom: 50px;
	margin-left: 20px;
}

.aside__headline h2 {
	color: col_h2_as;
	font-size: siz_h2_as;
	font-family: RobotoBold;
}

.nav-aside__list {
	margin-bottom: 50px;
}

.nav-aside__list :nth-child(1) :before {
	background: url("../img/aside_img/asid-icon.png") no-repeat left center;
}

.nav-aside__list :nth-child(2) :before {
	background: url("../img/aside_img/asid-icon1.png") no-repeat left center;
}

.nav-aside__list :nth-child(3) :before {
	background: url("../img/aside_img/asid-icon2.png") no-repeat left center;
}

.nav-aside__list :nth-child(4) :before {
	background: url("../img/aside_img/asid-icon3.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(1) :before {
	background: url("../img/aside_img/asid-icon1-1.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(2) :before {
	background: url("../img/aside_img/asid-icon1-2.png") no-repeat left center;
}

.nav-aside__list_btn :nth-child(3) :before {
	background: url("../img/aside_img/asid-icon1-3.png") no-repeat left center;
}

.nav-aside__item {
	cursor: pointer;
	padding: 20px 0 20px 20px;
}

.nav-aside__item:before {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
}

.nav-aside__item:hover {
	background: #cfd8dc;
}

.nav-aside__item a {
	color: #485254;
	font-family: SourceSemibold;
	padding-left: 40px;
}

.user-profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
}

.user-profile__avatar {
	background: url("../img/aside_img/profile-img.png") no-repeat left center;
	background-size: cover;
	width: 55px;
	height: 55px;
	cursor: pointer;
}

.user-profile__name {
	color: #485254;
	font-size: 22px;
	font-family: SourceSemibold;
	cursor: pointer;
}

.user-profile__menu {
	background: url("../img/aside_img/profile-icon.png") no-repeat left center;
	width: 18px;
	height: 18px;
	cursor: pointer;
}


@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}


.header {
	width: 100%;
	display: flex;
}

.logo {
	width: 30%;
	background: col_bg;
	padding: 20px 0;
}

.logo h1 {
	color: #fff;
	font-family: ReklameRegular;
	font-size: siz_h1;
	text-align: center;
	cursor: pointer;
}

.nav-header {
	width: 70%;
	background: col_bg2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav-header__list {
	display: flex;
	margin-left: 20px;
}

.nav-header__list :nth-child(2) {
	background: url("../img/header_img/icon_hd2.png") no-repeat;
}

.nav-header__list :nth-child(3) {
	background: url("../img/header_img/icon_hd3.png") no-repeat;
}

.nav-header__list :nth-child(4) {
	background: url("../img/header_img/icon_hd4.png") no-repeat left center;
}

.nav-header__item {
	background: url("../img/header_img/icon_hd1.png") no-repeat;
	padding: 0 20px;
	margin: 0 10px;
}

.nav-header__item a {
	color: #fff;
	font-family: RobotoBold;
	font-size: 19px;
}

.nav-header__serch {
	font-size: 19px;
	font-family: RobotoLightItalic;
	background: #50595e;
	border: none;
	color: #8a8f92;
	border-radius: 15px;
	padding: 5px 10px;
}

.nav-header__btn {
	background: #ff5722;
	color: #fff;
	padding: 5px 10px;
	font-size: 19px;
	border: none;
	text-transform: uppercase;
	border-radius: 7px;
}


.main {
	width: 70%;
	float: right;
	padding-left: 20px;
}

.main-headline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 57px 0 46px 0;
	font-family: RobotoBold;
}

.main-headline h2 {
	font-size: 20px;
	color: #485254;
}

.main-headline span {
	font-size: 19px;
	color: #959899;
}

.wrapper-block {
	width: 100%;
}

.block-main {
	float: left;
	width: 23%;
	margin: 0 1%;
}

.block-main__img {
	background: url("../img/main_img/shot-example.png") no-repeat;
	width: 100%;
	min-height: 150px;
}

.blok-main__text {
	font-family: RobotoRegular;
	font-size: 16px;
	position: relative;
	float: left;
}

.block-main__icons {
	background: url("../img/main_img/icon_min.png") no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: right;
	margin-top: 2px;
}

.block-main__controls_top {
	overflow: hidden;
	margin: 16px 0 10px 0;
}

.block-main__controls {
	overflow: hidden;
}

.block-main__button {
	float: left;
	font-family: RobotoRegular;
	font-size: 13px;
	background: #64b5f6;
	border: none;
	color: #fff;
	padding: 5px 20px;
	cursor: pointer;
}

.block-main__button:hover {
	background: #ff5722;
}

.block-main__date {
	float: right;
	font-size: 15px;
	font-family: RobotoRegular;
	color: #8f9191;
	padding-top: 5px;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}


/*fonts*/

/*fon-rb = Roboto-BoldCondensed
fon-rl = RobotoCondensed-Light
fon-rcl = RobotoCondensed-LightItalic
fon-gb = GaramondPremrPro-Bd
fon-sb = SourceSansPro-Bold
fon-ss = SourceSansPro-Semibold
fon-sr = SourceSansPro-Regular
fon-rk=ReklameRegular*/

/*fonts*/

/*size*/

/*size*/

/*color*/

/*color*/

