@import 'base/reset.styl'
@import 'base/fonts.styl'
@import 'base/tepografi.styl'
@import 'base/header.styl'
@import 'base/aside.styl'
@import 'base/main.styl'

body 
	font-family fon-rb
	font-size 16px
	