<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
body
	include mixins/_mixins
	include base/_header
	include base/_aside
	include base/_main
	include base/_footer





		script(src="js/main.js")
