mixin mane(data)
	.block-main
		.block-main__img!=data.img
		.blok-main__text!=data.title
		.block-main__controls
			.block-main__button!=data.buttonText
			.block-main__date
			
+mane({img:'',title:'dsjfhsjd',buttonText:'sdfsdf'})