block aside
	aside.aside
		//- написать миксин для
		//- этого дерьмишка
		//- и вывести 2 одинаковых блока
		//- с его помощью
		.aside__headline
			h2 SOCIAL NETWORKS
		ul.nav-aside__list
			li.nav-aside__item
				a(href="#") Facebook
			li.nav-aside__item
				a(href="#") Twitter
			li.nav-aside__item
				a(href="#") Dribbble
			li.nav-aside__item
				a(href="#") Behance

		.aside__headline
			h2 SOCIAL NETWORKS
		ul.nav-aside__list.nav-aside__list_btn
			li.nav-aside__item
				a(href="#") Project Plex Review
			li.nav-aside__item
				a(href="#") Strava: Designing Weather 
			li.nav-aside__item
				a(href="#") Moscow Dribbble Meetup 2014
		.user-profile
			.user-profile__avatar
			.user-profile__name Alexandru Stoica
			.user-profile__menu
