block header 
	header.header
		.logo
			h1 Portfolio
		.nav-header
			ul.nav-header__list
				li.nav-header__list__items
					img(src="/img/header_img/icon_hd1.png", alt="")
					a.nav-header__list_link(href="#") Projects
				li.nav-header__list__items
					img(src="/img/header_img/icon_hd2.png", alt="")
					a.nav-header__list_link(href="#") Projects
				li.nav-header__list__items
					img(src="/img/header_img/icon_hd3.png", alt="")
					a.nav-header__list_link(href="#") Projects
				li.nav-header__list__items
					img(src="/img/header_img/icon_hd4.png", alt="")
					a.nav-header__list_link(href="#") Projects
			input.nav-header__serch(
				type="text"
				name="name"
				placeholder="serch"
			)
			button.nav-header__btn hire me
