.aside
	width 30%
	float left
	padding 35px 0
	&__headline
		margin-bottom 50px
		margin-left: 20px
		h2
			color col_h2_as
			font-size siz_h2_as
			font-family RobotoBold
		
.nav-aside
	&__list
		margin-bottom 50px
		:nth-child(1)
			:before
				background url('../img/aside_img/asid-icon.png') no-repeat left center
		:nth-child(2)
			:before
				background url('../img/aside_img/asid-icon1.png') no-repeat left center
		:nth-child(3)
			:before
				background url('../img/aside_img/asid-icon2.png') no-repeat left center
		:nth-child(4)
			:before
				background url('../img/aside_img/asid-icon3.png') no-repeat left center

	&__list_btn
		:nth-child(1)
			:before
				background url('../img/aside_img/asid-icon1-1.png') no-repeat left center
		:nth-child(2)
			:before
				background url('../img/aside_img/asid-icon1-2.png') no-repeat left center
		:nth-child(3)
			:before
				background url('../img/aside_img/asid-icon1-3.png') no-repeat left center
			
	&__item
		&:before
			content ''
			width 20px
			height 20px
			position absolute
			left 20px
		&:hover
			background: #cfd8dc
		cursor pointer
		padding 20px 0 20px 20px
		a 
			color #485254
			font-family SourceSemibold
			padding-left: 40px

.user-profile
	display flex
	justify-content space-between
	align-items center
	margin-left: 20px
	&__avatar
		background url('../img/aside_img/profile-img.png') no-repeat left center
		background-size cover
		width 55px
		height 55px
		cursor pointer
	&__name
		color #485254
		font-size 22px
		font-family SourceSemibold
		cursor pointer
	&__menu
		background url('../img/aside_img/profile-icon.png') no-repeat left center
		width 18px
		height 18px
		cursor pointer
		