.header
	width 100%
	display flex
	
.logo
	width 30%
	background col_bg
	padding 20px 0
	h1
		color #fff
		font-family ReklameRegular
		font-size siz_h1
		text-align center
		cursor pointer
		
.nav-header
	width 70%
	background col_bg2
	display flex
	align-items center
	flex-wrap: wrap;
	justify-content: space-between

.nav-header__list 
	display flex
	margin-left: 20px
	:nth-child(2)
		background url('../img/header_img/icon_hd2.png') no-repeat
	:nth-child(3)
		background url('../img/header_img/icon_hd3.png') no-repeat
	:nth-child(4)
		background url('../img/header_img/icon_hd4.png') no-repeat left center
		
.nav-header__item
	background url('../img/header_img/icon_hd1.png') no-repeat
	padding 0 20px
	margin: 0 10px
	a 
		color #fff
		font-family RobotoBold
		font-size: 19px
.nav-header__serch
	font-size 19px 
	font-family RobotoLightItalic
	background #50595e
	border none 
	color #8a8f92
	border-radius 15px
	padding 5px 10px
.nav-header__btn
	background: #ff5722
	color: #fff
	padding 5px 10px 
	font-size: 19px
	border none
	text-transform: uppercase
	border-radius 7px