.main
	width: 70%
	float right
	padding-left 20px
.main-headline
	display flex
	justify-content space-between
	align-items center
	width 100%
	margin 57px 0 46px 0
	font-family: RobotoBold
	h2
		font-size 20px
		color #485254
	span 
		font-size 19px 
		color #959899
.wrapper-block
	width 100%
.block-main
	float left
	width 23%
	margin:0 1%
		
.block-main__img
	background url('../img/main_img/shot-example.png') no-repeat
	width 100%
	min-height 150px 
.blok-main__text
	font-family: RobotoRegular
	font-size: 16px
	position: relative
	float left
.block-main__icons
	background: url('../img/main_img/icon_min.png') no-repeat
	width 16px
	height 16px
	cursor pointer
	float right
	margin-top 2px
.block-main__controls_top
	overflow hidden
	margin 16px 0 10px 0
.block-main__controls
	overflow hidden 
.block-main__button
	&:hover
		background: #ff5722
	float left
	font-family: RobotoRegular
	font-size 13px
	background: #64b5f6
	border none
	color #fff
	padding 5px 20px
	cursor pointer
.block-main__date
	float right
	font-size: 15px 
	font-family: RobotoRegular
	color #8f9191
	padding-top: 5px